<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='article'">
<header th:replace="common::headerFragment(${title},${active})"></header>
<body>
<div th:replace="common::common-body"></div>

<!-- Start #content -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <!-- Start .row -->
            <!-- Start .page-header -->
            <div class="col-lg-12 heading">
                <h1 class="page-header"><i class="im-table2"></i>文章管理</h1>

            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .row -->
        <div class="outlet">
            <!-- Start .outlet -->
            <!-- Page start here ( usual with .row ) -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- col-lg-12 start here -->
                    <div class="panel panel-default plain toggle panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-body">
                            <table class="table display" id="datatable">
                                <thead>
                                <tr>
                                    <th style=" text-align:center;">文章编号</th>
                                    <th style=" text-align:center;">文章标题</th>
                                    <th style=" text-align:center;">作者</th>
                                    <th style=" text-align:center;">电子邮箱</th>
                                    <th style=" text-align:center;">发布时间</th>
                                    <th style=" text-align:center;">状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="article : ${articles}">
                                    <tr th:attr="aid=${article.aid}" class="odd gradeX">
                                        <td class="center" th:text="${article.aid}"></td>
                                        <td class="center" th:text="${article.title}"></td>
                                        <td class="center" th:text="${article.username}"></td>
                                        <td class="center" th:text="${article.email}"></td>
                                        <td class="center" th:text="${article.cdate}"></td>
                                        <td class="center">
                                            <th:block th:if="${article.status == '1'}">
                                                <button type="button" class="btn btn-xs btn-success">已发布</button>
                                            </th:block>
                                            <th:block th:if="${article.status == '0'}">
                                                <button type="button" class="btn btn-xs btn-dark">未发布</button>
                                            </th:block>
                                        </td>
                                        <td>
                                            <!--<button type="button" class="btn btn-xs" th:onclick="'showInfo('+${user.uid}+');'">查看信息</button>-->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    更多
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                        <li>
                                                            <a th:onclick="'javascript:delArticle('+${article.aid}+');'">删除文章</a>
                                                        </li>
                                                        <li>
                                                            <a th:onclick="'javascript:updateArticle('+${article.aid}+');'">编辑文章</a>
                                                        </li>
                                                    <th:block th:if="${article.status == '1'}">
                                                        <li>
                                                            <a th:onclick="'javascript:dwonArticle('+${article.aid}+');'">撤销发布</a>
                                                        </li>
                                                    </th:block>
                                                    <th:block th:if="${article.status == '0'}">
                                                        <li>
                                                            <a th:onclick="'javascript:upArticle('+${article.aid}+');'">发布文章</a>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                            </div>
                                        </td>
                                        <!--<td>
                                            <button type="button" class="btn btn-xs btn-danger" th:onclick="'javascript:delArticle('+${article.aid}+');'">删除文章</button>
                                        </td>-->
                                    </tr>
                                </th:block >
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th style=" text-align:center;">文章编号</th>
                                    <th style=" text-align:center;">文章标题</th>
                                    <th style=" text-align:center;">作者</th>
                                    <th style=" text-align:center;">电子邮箱</th>
                                    <th style=" text-align:center;">发布时间</th>
                                    <th style=" text-align:center;">状态</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-12 end here -->
            </div>
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>
<!-- End #content -->
<script type="text/javascript">
        function dwonArticle(aid) {
            $.ajax({
                type: "POST",
                data: {aid: aid},
                url: "/article/downShow",
                success: function (data) {
                    if (data.code == '200') {
                        alert("撤销发布成功！");
                        window.location.href = ("/article-manage");
                    } else {
                        alert("撤销发布失败！");
                    }
                },
            });
        }

    function upArticle(aid) {
        $.ajax({
            type: "POST",
            data: {aid: aid},
            url: "/article/upShow",
            success: function (data) {
                if (data.code == '200') {
                    alert("文章发布成功！")
                    window.location.href = ("/article-manage");
                } else {
                    alert("文章发布失败！");
                }
            },
        });
    }

    function delArticle(aid) {
        $.ajax({
            type: "POST",
            data: {aid: aid},
            url: "/delete/article",
            success: function (data) {
                if (data.code == '200') {
                    window.location.href = ("/article-manage");
                    alert("删除成功！");
                } else {
                    alert("删除失败！");
                }
            },
        });
    }
</script>
</body>
</html>