<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<header th:replace="common::headerFragment(${title},${active})"></header>
    <body>
		<div th:replace="common::common-body"></div>
        
        <!-- Start #content -->
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div class="row">
                    <!-- Start .row -->
                    <!-- Start .page-header -->
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-images"></i> Gallery</h1>
                        <!-- Start .bredcrumb -->
                        <ul id="crumb" class="breadcrumb">
                        </ul>
                        <!-- End .breadcrumb -->
                        <!-- Start .option-buttons -->
                        <div class="option-buttons">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                        <i class="ec-refresh color-red s24"></i>
                                    </a>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i class="br-grid s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <div class="option-dropdown">
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="im-pie"></i>
                                                    <span>Earning Stats</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-images color-dark"></i>
                                                    <span>Gallery</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="en-light-bulb color-orange"></i>
                                                    <span>Fresh ideas</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-link color-blue"></i>
                                                    <span>Links</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-support color-red"></i>
                                                    <span>Support</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="st-lock color-teal"></i>
                                                    <span>Lock area</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"><i class="ec-pencil s24"></i></a> 
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                        <div class="option-dropdown">
                                            <div class="row">
                                                <p class="col-lg-12">Quick post</p>
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" placeholder="Enter title">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <textarea class="form-control wysiwyg" placeholder="Enter text"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control tags1" placeholder="Enter tags">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <button class="btn btn-default btn-xs">Save Draft</button>
                                                            <button class="btn btn-success btn-xs pull-right">Publish</button>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"><i class="ec-help s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu3">
                                        <div class="option-dropdown">
                                            <p>First time visitor ? <a href="#" id="app-tour" class="btn btn-success ml15">Take app tour</a> 
                                            </p>
                                            <hr>
                                            <p>Or check the <a href="#" class="btn btn-danger ml15">FAQ</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .option-buttons -->
                    </div>
                    <!-- End .page-header -->
                </div>
                <!-- End .row -->
                <div class="outlet">
                    <!-- Start .outlet -->
                    <!-- Page start here ( usual with .row ) -->
                    <div class="row">
                        <div class="gallery">
                            <!-- start .gallery -->
                            <div class="gallery-toolbar">
                                <div class="col-lg-12">
                                    <!-- col-lg-12 start here -->
                                    <button class="filter btn btn-primary btn-alt mr5" data-filter="all">All</button>
                                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".sea">Sea</button>
                                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".city">City</button>
                                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".nature">Nature</button>
                                    <button class="filter btn btn-primary btn-alt mr5" data-filter=".vegetables">Vegetables</button>
                                    <span class="sort btn btn-primary btn-alt" data-sort="random">Random</span> 
                                </div>
                                <!-- col-lg-12 end here -->
                            </div>
                            <div class="gallery-inner">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="1">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/1.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/1.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="2">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/2.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/2.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="3">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/3.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/3.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="4">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/4.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/4.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="5">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/5.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/5.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix nature" data-my-order="6">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/6.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/6.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="7">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/7.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/7.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="8">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/8.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/8.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix vegetables" data-my-order="9">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/9.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/9.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix vegetables" data-my-order="10">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/10.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/10.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix sea" data-my-order="11">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/11.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/11.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mix city" data-my-order="12">
                                    <a href="#" class="thumbnail">
                                        <img src="assets/img/gallery/12.jpg" alt="image">
                                    </a>
                                    <div class="gallery-image-controls">
                                        <div class="action-btn">
                                            <a class="gallery-image-open btn btn-primary btn-round tipB" title="Open image" href="assets/img/gallery/12.jpg"><i class="ec-search"></i></a>
                                            <a class="gallery-image-download btn btn-primary btn-round tipB" title="Download" href="#"><i class="st-download"></i></a>
                                            <a class="gallery-image-delete btn btn-primary btn-round tipB" href="#" title="Delete"><i class="ec-trashcan"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- gallery end here -->
                    </div>
                    <!-- Page End here -->
                </div>
                <!-- End .outlet -->
            </div>
            <!-- End .content-wrapper -->
            <div class="clearfix"></div>
        </div>
        <!-- End #content -->
        
    </body>
</html>