<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='good'">
<header th:replace="common::headerFragment(${title},${active})"></header>
<body>
<div th:replace="common::common-body"></div>

<!-- Start #content -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <!-- Start .row -->
            <!-- Start .page-header -->
            <div class="col-lg-12 heading">
                <h1 class="page-header"><i class="im-checkbox-checked"></i> 添加房产商品</h1>
            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .row -->
        <!-- Page start here ( usual with .row ) -->
        <div class="outlet">
            <!-- Start .outlet -->
            <div class="row">
                <!-- Start .row -->
                <div class="col-lg-12">
                    <!-- Start col-lg-12 -->
                    <div class="panel panel-default toggle">
                        <!-- Start .panel -->
                        <div class="panel-heading">
                            <h3 class="panel-title">商品详情</h3>
                        </div>
                        <div class="panel-body"><!--enctype="multipart/form-data"-->
                            <form class="form-horizontal group-border hover-stripped" role="form" id="validate"
                                   method="post" onsubmit="return false">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">商品标题</label>
                                    <div class="col-lg-6">
                                        <input type="text" name="title" id="title" class="form-control" >
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">商品简介（10-20字）</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="introduce" name="introduce" placeholder="">
                                    </div>
                                </div>

                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">上传者名称</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="username" name="username" th:value="${loginUser.username}" readonly="true"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">封面图片</label>
                                    <div class="col-lg-6">
                                        <input type="file" class="form-control" id="picurl" name="picurl">
                                        <span class="help-block">用于显示在商品的封面</span>
                                    </div>
                                </div>

                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">上传商品模型</label>
                                    <div class="col-lg-6">
                                        <input type="file" name="url" id="url" class="form-control" >
                                        <span class="help-block">上传的压缩包为Unity导出的整个文件夹（包括2个子文件夹1个index.html界面）</span>
                                        <span class="help-block">压缩包上传之后自动解压</span>
                                    </div>
                                </div>
                                <div id="loadImg" style="display:none;">
                                    <label class="col-lg-2 control-label">文件上传中</label><img th:src="@{/img/load2.gif}"  id="oImg" th:width="200" th:height="30"/>
                                </div>
                                <!--<div id="schedule"></div>-->
                                <!-- End .form-group  -->
                                <div class="form-group">
                                    <div class="col-lg-offset-2">
                                        <button class="btn btn-default ml15" type="submit" th:onclick="'javascript:saveGood()'">商品上架</button>
                                    </div>
                                </div>
                                <!-- End .form-group  -->
                            </form>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- End col-lg-12 -->
            </div>
            <!-- End .row -->
            <!-- Page End here -->
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>
<!-- End #content -->
<script type="text/javascript">

    function saveGood() {
        /*$(".url").change(function() {*/
        document.getElementById("loadImg").style.display=""
            var formdata = new FormData($("#validate")[0]);
            $.ajax({
                type: 'POST',
                data: formdata,
                url: '/add-good',
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.code == '200') {
                        alert("添加成功！");
                        window.location.reload();
                    } else {
                        document.getElementById("loadImg").style.display="none";
                        alert("添加失败！");
                        //window.location.href("index");
                    }
                },
            });
       /* });*/
    }

</script>
</body>
</html>