<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='homes'">
<header th:replace="common::headerFragment(${title},${active})"></header>
<body>
<div th:replace="common::common-body"></div>

<!-- Start #content -->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <!-- Start .row -->
            <!-- Start .page-header -->
            <div class="col-lg-12 heading">
                <h1 class="page-header"><i class="im-table2"></i>商品管理</h1>

            </div>
            <!-- End .page-header -->
        </div>
        <!-- End .row -->
        <div class="outlet">
            <!-- Start .outlet -->
            <!-- Page start here ( usual with .row ) -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- col-lg-12 start here -->
                    <div class="panel panel-default plain toggle panelClose panelRefresh">
                        <!-- Start .panel -->
                        <div class="panel-body">
                            <table class="table display" id="datatable">
                                <thead>
                                <tr>
                                   <!-- <th style=" text-align:center;">商品编号</th>-->
                                    <th style=" text-align:center;">商品标题</th>
                                    <th style=" text-align:center;">添加时间</th>
                                    <th style=" text-align:center;">封面图片</th>
                                    <th style=" text-align:center;">模型展示</th>
                                    <th style=" text-align:center;">上传作者</th>
                                    <th style=" text-align:center;">状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--/*@thymesVar id="homes" type=""*/-->
                                <th:block th:each="home : ${homes}">
                                    <tr th:attr="hid=${home.hid}" class="odd gradeX">
                                        <!--<td class="center" th:width="100" th:text="${home.hid}"></td>-->
                                        <td class="center" th:text="${home.title}"></td>
                                        <td class="center" th:text="${home.hdate}"></td>
                                        <td class="center"><a th:href="${home.picurl}">点击查看</a></td>
                                        <td class="center"><a th:href="${home.url}">点击查看</a></td>
                                        <td class="center" th:text="${home.username}"></td>
                                        <td class="center">
                                            <th:block th:if="${home.isShow == '1'}">
                                                <button type="button" class="btn btn-xs btn-primary">已上架</button>
                                            </th:block>
                                            <th:block th:if="${home.isShow == '0'}">
                                                <button type="button" class="btn btn-xs btn-success">已下架</button>
                                            </th:block>
                                        </td>
                                        <td>
                                            <!--<button type="button" class="btn btn-xs" th:onclick="'showInfo('+${user.uid}+');'">查看信息</button>-->
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    更多
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <th:block th:if="${home.isShow == '1'}">
                                                        <li>
                                                            <a th:onclick="'javascript:downShow('+${home.hid}+');'">商品下架</a>
                                                        </li>
                                                    </th:block>
                                                    <th:block th:if="${home.isShow == '0'}">
                                                        <li>
                                                            <a th:onclick="'javascript:upShow('+${home.hid}+');'">商品上架</a>
                                                        </li>
                                                    </th:block>
                                                    <th:block th:if="${home.isShow != '2'}">
                                                        <li>
                                                            <a th:onclick="'javascript:deleteHome('+${home.hid}+');'">删除商品</a>
                                                        </li>
                                                    </th:block>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </th:block >
                                </tbody>
                                <tfoot>
                                <tr>
                                    <!--<th style=" text-align:center;">商品编号</th>-->
                                    <th style=" text-align:center;">商品标题</th>
                                    <th style=" text-align:center;">添加时间</th>
                                    <th style=" text-align:center;">封面图片</th>
                                    <th style=" text-align:center;">模型展示</th>
                                    <th style=" text-align:center;">上传作者</th>
                                    <th style=" text-align:center;">状态</th>
                                    <th>操作</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- End .panel -->
                </div>
                <!-- col-lg-12 end here -->
            </div>
        </div>
        <!-- End .outlet -->
    </div>
    <!-- End .content-wrapper -->
    <div class="clearfix"></div>
</div>
<script type="text/javascript">
    function downShow(hid) {
        $.ajax({
            type: "POST",
            data: {hid: hid},
            url: "/good/downShow",
            success: function (data) {
                if (data.code == '200') {
                    alert("下架成功！");
                    window.location.href = ("/good-manage");
                } else {
                    alert("下架失败！");
                }
            },
        });
    }

    function upShow(hid) {
        $.ajax({
            type: "POST",
            data: {hid: hid},
            url: "/good/upShow",
            success: function (data) {
                if (data.code == '200') {
                    alert("上架成功！")
                    window.location.href = ("/good-manage");
                } else {
                    alert("上架失败！");
                }
            },
        });
    }

    function deleteHome(hid) {
        $.ajax({
            type: "POST",
            data: {hid: hid},
            url: "/good/delete",
            success: function (data) {
                if (data.code == '200') {
                    alert("删除成功！")
                    window.location.href = ("/good-manage");
                } else {
                    alert("删除失败！");
                }
            },
        });
    }
</script>
</body>
</html>