<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<header th:replace="common::headerFragment(${title},${active})"></header>
    <body>
		<div th:replace="common::common-body"></div>
        
        <!-- Start #content -->
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div class="row">
                    <!-- Start .row -->
                    <!-- Start .page-header -->
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="im-windows8"></i> Tiles</h1>
                        <!-- Start .bredcrumb -->
                        <ul id="crumb" class="breadcrumb">
                        </ul>
                        <!-- End .breadcrumb -->
                        <!-- Start .option-buttons -->
                        <div class="option-buttons">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                        <i class="ec-refresh color-red s24"></i>
                                    </a>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i class="br-grid s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <div class="option-dropdown">
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="im-pie"></i>
                                                    <span>Earning Stats</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-images color-dark"></i>
                                                    <span>Gallery</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="en-light-bulb color-orange"></i>
                                                    <span>Fresh ideas</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-link color-blue"></i>
                                                    <span>Links</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-support color-red"></i>
                                                    <span>Support</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="st-lock color-teal"></i>
                                                    <span>Lock area</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"><i class="ec-pencil s24"></i></a> 
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                        <div class="option-dropdown">
                                            <div class="row">
                                                <p class="col-lg-12">Quick post</p>
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" placeholder="Enter title">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <textarea class="form-control wysiwyg" placeholder="Enter text"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control tags1" placeholder="Enter tags">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <button class="btn btn-default btn-xs">Save Draft</button>
                                                            <button class="btn btn-success btn-xs pull-right">Publish</button>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"><i class="ec-help s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu3">
                                        <div class="option-dropdown">
                                            <p>First time visitor ? <a href="#" id="app-tour" class="btn btn-success ml15">Take app tour</a> 
                                            </p>
                                            <hr>
                                            <p>Or check the <a href="#" class="btn btn-danger ml15">FAQ</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .option-buttons -->
                    </div>
                    <!-- End .page-header -->
                </div>
                <!-- End .row -->
                <div class="outlet">
                    <!-- Start .outlet -->
                    <!-- Page start here ( usual with .row ) -->
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile red">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-download s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">13</div>
                                    <h3>Downloads</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile blue">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-users s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">107</div>
                                    <h3>New users</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile green">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-mail s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">17</div>
                                    <h3>New emails</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile teal">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-images s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">45</div>
                                    <h3>New images</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile orange">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-trashcan s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">7</div>
                                    <h3>Deleted files</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile gray-spr">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-help s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">26</div>
                                    <h3>Support requests</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile purple">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-search s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">2540</div>
                                    <h3>Searches</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile pink">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-cog s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">5</div>
                                    <h3>Settings changed</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile lime">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-archive s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">12</div>
                                    <h3>Articles archived</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile magenta">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-share s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">3548</div>
                                    <h3>Posts shared</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile brown">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-link s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">14564</div>
                                    <h3>Links clicked</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <!-- col-lg-3 start here -->
                            <div class="tile dark">
                                <!-- tile start here -->
                                <div class="tile-icon">
                                    <i class="ec-star s64"></i>
                                </div>
                                <div class="tile-content">
                                    <div class="number">2</div>
                                    <h3>Post starred</h3>
                                </div>
                            </div>
                            <!-- tile end here -->
                        </div>
                        <!-- col-lg-3 end here -->
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <div class="page-header">
                                <h4>Stat tiles
                                    <small>second variant</small>
                                </h4>
                            </div>
                        </div>
                        <!-- col-lg-12 end here -->
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">7</div>
                                        <div class="tile-stats-text">Support topcis</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-clock color-teal"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">3.4 hours</div>
                                        <div class="tile-stats-text">Response time</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="fa-money color-green"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">245$</div>
                                        <div class="tile-stats-text">Earnings last 24 hours</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="st-cube color-blue"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">5</div>
                                        <div class="tile-stats-text">Packages installed</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="fa-bell color-red"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">12</div>
                                        <div class="tile-stats-text">Notifications last day</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-link color-pink"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">45</div>
                                        <div class="tile-stats-text">New links</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 gray-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-bubble2"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number">7</div>
                                        <div class="tile-stats-text">Support topcis</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 blue-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-clock color-white"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number color-white">3.4 hours</div>
                                        <div class="tile-stats-text color-white">Response time</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 red-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="fa-money color-white"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number color-white">245$</div>
                                        <div class="tile-stats-text color-white">Earnings last 24 hours</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 green-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="st-cube color-white"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number color-white">5</div>
                                        <div class="tile-stats-text color-white">Packages installed</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 dark-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="fa-bell color-white"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number color-white">12</div>
                                        <div class="tile-stats-text color-white">Notifications last day</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                            <div class="tile-stats b brall mb25 teal-bg">
                                <a href="#">
                                    <div class="tile-stats-icon"><i class="im-link color-white"></i>
                                    </div>
                                    <div class="tile-stats-content">
                                        <div class="tile-stats-number color-white">45</div>
                                        <div class="tile-stats-text color-white">New links</div>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- End .row -->
                    <!-- Page End here -->
                </div>
                <!-- End .outlet -->
            </div>
            <!-- End .content-wrapper -->
            <div class="clearfix"></div>
        </div>
        <!-- End #content -->
       
    </body>
</html>