<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>用户登录 | 注册</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="SuggeElson" />
    <meta name="description" content=""
    />
    <meta name="keywords" content=""
    />
    <meta name="application-name" content="sprFlat admin template" />
    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css' th:href="@{//fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700}" />

    <!-- Css files -->
    <!-- Icons -->
    <link th:href="@{/css/icons.css}" rel="stylesheet" />
    <!-- jQueryUI -->
    <link th:href="@{/css/sprflat-theme/jquery.ui.all.css}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link th:href="@{/css/plugins.css}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/img/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" th:href="@{/img/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/img/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/img/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="icon" th:href="@{/img/ico/favicon.ico}" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body class="login-page">
<!-- Start #login -->
<div id="login" class="animated bounceIn">
    <img id="logo" th:src="@{/img/logo.png}" >
    <!-- Start .login-wrapper -->
    <div class="login-wrapper">
        <ul id="myTab" class="nav nav-tabs nav-justified bn">
           <!-- <li>
                <a href="#log-in" data-toggle="tab">用户登录</a>
            </li>-->
            <li>
                <a href="#register" data-toggle="tab">新用户注册</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content bn">
            <!--<div class="tab-pane fade active in" id="log-in">

                <div class="seperator">
                    <strong>Streaker</strong>
                    <hr>
                </div>
                <form class="form-horizontal mt10"  method="post" id="loginForm" onsubmit="return checkForm();">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" name="username" id="username" class="form-control left-icon"  placeholder="Your username ...">
                            <i class="ec-user s16 left-input-icon"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="password" name="password" id="password" class="form-control left-icon"  placeholder="Your password ...">
                            <i class="ec-locked s16 left-input-icon"></i>
                            &lt;!&ndash;  <span class="help-block"><a th:href="#"><small>Forgout password ?</small></a></span>  &ndash;&gt;
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                            &lt;!&ndash; col-lg-12 start here &ndash;&gt;
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" value="option">记住账号 ?
                            </label>
                        </div>
                        &lt;!&ndash; col-lg-12 end here &ndash;&gt;
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                            &lt;!&ndash; col-lg-12 start here &ndash;&gt;
                            <button class="btn btn-success pull-right" type="submit">登录</button>
                        </div>
                        &lt;!&ndash; col-lg-12 end here &ndash;&gt;
                    </div>
                </form>
            </div>-->
            <div class="tab-pane fade active in" id="register">
                <div class="seperator">
                    <strong>Streaker</strong>
                    <hr>
                </div>
                <form class="form-horizontal mt20" method="post" id="loginForm1" role="form">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <input id="username1" name="username" type="text" class="form-control left-icon" placeholder="Type your username">
                            <i class="ec-mail s16 left-input-icon"></i>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <input type="password" class="form-control left-icon" id="password1" name="password" placeholder="Enter your password">
                            <i class="ec-locked s16 left-input-icon"></i>
                        </div>
                        <!-- col-lg-12 end here -->
                        <div class="col-lg-12 mt15">
                            <!-- col-lg-12 start here -->
                            <input type="password" class="form-control left-icon" id="confirm_password" name="confirm_passowrd" placeholder="Repeat password">
                            <i class="ec-locked s16 left-input-icon"></i>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <!-- col-lg-12 start here -->
                            <a class="btn btn-success btn-block" type="button" th:onclick="'javascript:checkForm1()'">注&nbsp;&nbsp;册</a>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End #.login-wrapper -->
</div>
<!-- End #login -->
<!-- Javascripts -->
<!-- Load pace first -->
<script th:src="@{/plugins/core/pace/pace.min.js}"></script>
<!-- Important javascript libs(put in all pages) -->
<script th:src="@{/js/jquery-1.8.3.min.js}"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-2.1.1.min.js">\x3C/script>')
</script>
<script th:src="@{//code.jquery.com/ui/1.10.4/jquery-ui.js}"></script>
<script>
    window.jQuery || document.write('<script src="js/libs/jquery-ui-1.10.4.min.js">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/libs/excanvas.min.js"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="js/libs/respond.min.js"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script th:src="@{/js/bootstrap/bootstrap.js}"></script>
<script th:src="@{/js/pages/login.js}"></script>
<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/base.js}"></script>
<script th:src="@{/js/pages/data-tables.js}"></script>
<script type="text/javascript">
    function checkForm1() {
        var username1 = document.getElementById("username1").value;
        var password1 = document.getElementById("password1").value;
        var confirm_password = document.getElementById("confirm_password").value;
        if (username1 == "" || password1 == "") {
            alert("请输入用户名或者密码！");
            return false;
        } else if (password1 != confirm_password) {
            alert("两次输入的密码不相同！");
            return false;
        }else{
            $.ajax({
                type: 'POST',
                data: $("#loginForm1").serialize(),
                url: "/userRegister",
                success: function (data) {
                    if (data.code == '200') {
                        alert("注册成功！");
                        window.location.href = ("/login");
                    } else {
                        alert("注册失败！");
                        return false;
                    }
                },
                error:function (data) {
                    if (data.code == '200') {
                        alert("注册成功！");
                        window.location.href = ("/login");
                    } else {
                        alert("注册失败！");
                        return false;
                    }
                }
            });
        }

        return false;
    }
    /*var tale1 = new $.tale();
    function checkForm1() {
        var username1 = document.getElementById("username1").value;
        var password1 = document.getElementById("password1").value;
        var confirm_password = document.getElementById("confirm_password").value;
        if (username1 == "" || password1 == "") {
            alert("请输入用户名或者密码！");
            return false;
        } else if (password1 != confirm_password) {
            alert("两次输入的密码不相同！");
            return false;
        }else {
            tale1.post({
                url: '/userRegister',
                data: $("#loginForm1").serialize(),
                success: function (result) {
                    if (result && result.code == '200') {
                        alert("注册成功！");
                        window.location.reload();
                    } else {
                        alert("注册失败！");
                    }
                }
            });
            return false;
        }
    }*/
</script>
</body>
</html>