<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='管理中心',active='home'">
<header th:replace="common::headerFragment(${title},${active})"></header>
    <body>
		<div th:replace="common::common-body"></div>
       
        <!-- Start #content -->
        <div id="content">
            <!-- Start .content-wrapper -->
            <div class="content-wrapper">
                <div class="row">
                    <!-- Start .row -->
                    <!-- Start .page-header -->
                    <div class="col-lg-12 heading">
                        <h1 class="page-header"><i class="st-diamond"></i> Widgets</h1>
                        <!-- Start .bredcrumb -->
                        <ul id="crumb" class="breadcrumb">
                        </ul>
                        <!-- End .breadcrumb -->
                        <!-- Start .option-buttons -->
                        <div class="option-buttons">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group">
                                    <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                        <i class="ec-refresh color-red s24"></i>
                                    </a>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i class="br-grid s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                        <div class="option-dropdown">
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="im-pie"></i>
                                                    <span>Earning Stats</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-images color-dark"></i>
                                                    <span>Gallery</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="en-light-bulb color-orange"></i>
                                                    <span>Fresh ideas</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-link color-blue"></i>
                                                    <span>Links</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="ec-support color-red"></i>
                                                    <span>Support</span>
                                                </a>
                                            </div>
                                            <div class="shortcut-button">
                                                <a href="#">
                                                    <i class="st-lock color-teal"></i>
                                                    <span>Lock area</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group dropdown">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2"><i class="ec-pencil s24"></i></a> 
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu2">
                                        <div class="option-dropdown">
                                            <div class="row">
                                                <p class="col-lg-12">Quick post</p>
                                                <form class="form-horizontal" role="form">
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control" placeholder="Enter title">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <textarea class="form-control wysiwyg" placeholder="Enter text"></textarea>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <input type="text" class="form-control tags1" placeholder="Enter tags">
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                    <div class="form-group">
                                                        <div class="col-lg-12">
                                                            <button class="btn btn-default btn-xs">Save Draft</button>
                                                            <button class="btn btn-success btn-xs pull-right">Publish</button>
                                                        </div>
                                                    </div>
                                                    <!-- End .form-group  -->
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3"><i class="ec-help s24"></i></a>
                                    <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu3">
                                        <div class="option-dropdown">
                                            <p>First time visitor ? <a href="#" id="app-tour" class="btn btn-success ml15">Take app tour</a> 
                                            </p>
                                            <hr>
                                            <p>Or check the <a href="#" class="btn btn-danger ml15">FAQ</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End .option-buttons -->
                    </div>
                    <!-- End .page-header -->
                </div>
                <!-- End .row -->
                <div class="outlet">
                    <!-- Start .outlet -->
                    <!-- Page start here ( usual with .row ) -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sortable-layout">
                            <!-- col-lg-4 start here -->
                            <div class="panel panel-default plain panelMove video-widget">
                                <!-- Start .panel -->
                                <div class="panel-heading"></div>
                                <div class="panel-body p5">
                                    <div id="video-preview">
                                        <video id="example_video_1" class="video-js vjs-default-skin per100" controls preload="auto" height="300" poster="http://video-js.zencoder.com/oceans-clip.png" data-setup='{"example_option":true}'>
                                            <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />
                                            <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />
                                            <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />
                                        </video>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-default plain panelMove blog-post-widget">
                                <!-- Start .panel -->
                                <div class="panel-heading white-bg pl0 pr0">
                                    <a href="#">
                                        <img class="blog-post-image img-responsive" src="assets/img/blog/blog-post.jpg" alt="blog post image">
                                    </a>
                                </div>
                                <div class="panel-body pt0">
                                    <a href="#" class="blog-post-title">
                                        <h3>Title of blog post</h3>
                                    </a>
                                    <span class="blog-post-date"><i class="ec-clock"></i> 23.04.2014</span>
                                    <div class="blog-post-text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, dolorem nisi sunt totam quis excepturi veniam? Nam, mollitia, corporis necessitatibus sint molestiae suscipit similique.
                                    </div>
                                </div>
                                <div class="panel-footer white-bg">
                                    <div class="blog-post-info">
                                        <a href="#" class="blog-post-author">
                                            <i class="ec-user mr5"></i>SuggeElson
                                        </a>
                                        <a href="#" class="blog-post-likes">
                                            <i class="ec-heart mr5"></i>174
                                        </a>
                                        <a href="#" class="blog-post-comments">
                                            <i class="ec-chat mr5"></i>38
                                        </a>
                                        <a href="#" class="pull-right">Read more<i class="en-arrow-right8"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-primary toggle panelMove panelClose panelRefresh mb25">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="ec-chat"></i> Chat widget</h4>
                                </div>
                                <div class="panel-body p0">
                                    <ul class="chat-ui chat-messages chat-widget">
                                        <li class="chat-user">
                                            <p class="avatar">
                                                <img src="assets/img/avatars/49.jpg" alt="@chadengle">
                                            </p>
                                            <p class="chat-name">Chad Engle <span class="chat-time">15 seconds ago</span>
                                            </p>
                                            <p class="chat-txt">Check the last activity in the site.</p>
                                            <p class="chat-attach-file">
                                            </p>
                                        </li>
                                        <li class="chat-me">
                                            <p class="avatar">
                                                <img src="assets/img/avatars/48.jpg" alt="SuggeElson">
                                            </p>
                                            <p class="chat-name">SuggeElson <span class="chat-time">10 seconds ago</span>
                                            </p>
                                            <p class="chat-txt">Ok i will check it out.</p>
                                        </li>
                                        <li class="chat-user">
                                            <p class="avatar">
                                                <img src="assets/img/avatars/49.jpg" alt="@chadengle">
                                            </p>
                                            <p class="chat-name">Chad Engle <span class="chat-time">now</span>
                                            </p>
                                            <p class="chat-txt">Thank you, have a nice day</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="panel-footer white-bg">
                                    <div class="chat-write chat-widget">
                                        <form action="#" class="form-horizontal" role="form">
                                            <div class="form-group relative">
                                                <textarea name="replymsg" id="replymsg" class="form-control elastic" rows="3"></textarea>
                                                <a role="button" class="btn attach_photo_btn pull-left mt5">
                                                    <i class="fa-picture s20"></i>
                                                </a>
                                                <input type="file" name="attach_photo" class="attach_photo_input">
                                                <div class="pull-right mt10">
                                                    <a href="#" class="btn btn-primary">Reply</a>
                                                </div>
                                                <div class="pull-right mt10 mr10">
                                                    <label class="checkbox">
                                                        <input type="checkbox" id="sendOnEnter" value="yes">Send on <strong>ENTER</strong> 
                                                    </label>
                                                </div>
                                            </div>
                                            <!-- End .form-group  -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-success toggle panelMove panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="ec-users"></i> Recent users</h4>
                                </div>
                                <div class="panel-body p0">
                                    <div class="recent-users-widget">
                                        <div class="recent-users-header">
                                            <div class="users-search">
                                                <form>
                                                    <input type="text" class="form-control" name="search" placeholder="Search for user ...">
                                                </form>
                                            </div>
                                        </div>
                                        <ul class="list-group scroll">
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle">
                                                <span class="name">Chad Engle</span>
                                                <span class="status online"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/54.jpg" alt="@alagoon">
                                                <span class="name">Anthony Lagoon</span>
                                                <span class="status offline"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/52.jpg" alt="@koridhandy">
                                                <span class="name">Kory Handy</span>
                                                <span class="status"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/50.jpg" alt="@divya">
                                                <span class="name">Divia Manyan</span>
                                                <span class="status"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/51.jpg" alt="@kolage">
                                                <span class="name">Eric Hofman</span>
                                                <span class="status online"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/55.jpg" alt="@mikebeecham">
                                                <span class="name">Mike Beecham</span>
                                                <span class="status online"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/56.jpg" alt="@laurengray">
                                                <span class="name">Lauren Grey</span>
                                                <span class="status offline"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/49.jpg" alt="@chadengle">
                                                <span class="name">Chad Engle</span>
                                                <span class="status offline"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/58.jpg" alt="@frankiefreesbie">
                                                <span class="name">Frankie Freesibie</span>
                                                <span class="status online"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <img class="chat-avatar" src="assets/img/avatars/59.jpg" alt="@aiiaiiaii">
                                                <span class="name">Alia Alien</span>
                                                <span class="status online"><i class="en-dot"></i></span>
                                                <div class="pull-right mt5">
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-user"></i> Profile</a>
                                                    <a href="#" class="btn btn-primary btn-alt btn-sm"><i class="ec-mail"></i> Send PM</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="fa-list"></i> ToDo</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="todo-widget">
                                        <div class="todo-header">
                                            <div class="todo-search">
                                                <form>
                                                    <input type="text" class="form-control" name="search" placeholder="Search for todo ...">
                                                </form>
                                            </div>
                                            <div class="todo-add">
                                                <a href="#" class="btn btn-primary tip" title="Add new todo"><i class="im-plus"></i></a>
                                            </div>
                                        </div>
                                        <h4 class="todo-period">Today</h4>
                                        <ul class="todo-list" id="today">
                                            <li class="todo-task-item">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                </label>
                                                <div class="todo-priority normal tip" title="Normal priority">
                                                    <i class="im-radio-checked"></i>
                                                </div>
                                                <span class="todo-category label label-primary"> javascript </span>
                                                <div class="todo-task-text">Add scroll function to template</div>
                                                <button type="button" class="close todo-close">&times;</button>
                                            </li>
                                            <li class="todo-task-item">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                </label>
                                                <div class="todo-priority high tip" title="High priority">
                                                    <i class="im-radio-checked"></i>
                                                </div>
                                                <span class="todo-category label label-brown"> less </span>
                                                <div class="todo-task-text">Fix main less file</div>
                                                <button type="button" class="close todo-close">&times;</button>
                                            </li>
                                            <li class="todo-task-item task-done">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked>
                                                </label>
                                                <div class="todo-priority high tip" title="High priority">
                                                    <i class="im-radio-checked"></i>
                                                </div>
                                                <span class="todo-category label label-info"> html </span>
                                                <div class="todo-task-text">Change navigation structure</div>
                                                <button type="button" class="close todo-close">&times;</button>
                                            </li>
                                        </ul>
                                        <h4 class="todo-period">Tomorrow</h4>
                                        <ul class="todo-list" id="tomorrow">
                                            <li class="todo-task-item">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                </label>
                                                <div class="todo-priority tip" title="Low priority">
                                                    <i class="im-radio-checked"></i>
                                                </div>
                                                <span class="todo-category label label-dark"> css </span>
                                                <div class="todo-task-text">Create slide panel widget</div>
                                                <button type="button" class="close todo-close">&times;</button>
                                            </li>
                                            <li class="todo-task-item">
                                                <label class="checkbox">
                                                    <input type="checkbox">
                                                </label>
                                                <div class="todo-priority medium tip" title="Medium priority">
                                                    <i class="im-radio-checked"></i>
                                                </div>
                                                <span class="todo-category label label-danger"> php </span>
                                                <div class="todo-task-text">Edit the main controller</div>
                                                <button type="button" class="close todo-close">&times;</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-4 end here -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 sortable-layout">
                            <!-- col-lg-4 start here -->
                            <div class="weather-widget panel panel-primary plain toggle panelMove panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">Weather now</h4>
                                </div>
                                <div class="panel-body blue-bg text-center">
                                    <canvas id="weather-now" width="128" height="128"></canvas>
                                    <p class="weather-location"><strong>23&deg;C</strong> Madrid</p>
                                </div>
                                <div class="panel-footer white-bg text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <!-- col-lg-3 start here -->
                                        <p class="weather-day">MON</p>
                                        <canvas id="forecast-now" width="64" height="64"></canvas>
                                        <p class="weather-degree">23&deg;C</p>
                                    </div>
                                    <!-- col-lg-3 end here -->
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <!-- col-lg-3 start here -->
                                        <p class="weather-day">TUE</p>
                                        <canvas id="forecast-day1" width="64" height="64"></canvas>
                                        <p class="weather-degree">17&deg;C</p>
                                    </div>
                                    <!-- col-lg-3 end here -->
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <!-- col-lg-3 start here -->
                                        <p class="weather-day">WED</p>
                                        <canvas id="forecast-day2" width="64" height="64"></canvas>
                                        <p class="weather-degree">15&deg;C</p>
                                    </div>
                                    <!-- col-lg-3 end here -->
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <!-- col-lg-3 start here -->
                                        <p class="weather-day">THU</p>
                                        <canvas id="forecast-day3" width="64" height="64"></canvas>
                                        <p class="weather-degree">18&deg;C</p>
                                    </div>
                                    <!-- col-lg-3 end here -->
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-brown panelMove">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="st-camera"></i> Instagram activity</h4>
                                    <div class="pull-right mt10">
                                        <a href="#" class="color-grayspr">@SuggeElson</a> 
                                    </div>
                                </div>
                                <div class="panel-body p0">
                                    <div class="instagram-widget">
                                        <div class="instagram-widget-header gray-bg">
                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="instagram-widget-text">Followers</p>
                                                    <strong class="instagram-widget-number">1256</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="instagram-widget-text">Following</p>
                                                    <strong class="instagram-widget-number">345</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                            <div class="col-lg-4 col-md-4 col-xs-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="instagram-widget-text">Shots</p>
                                                    <strong class="instagram-widget-number">176</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                        </div>
                                        <div class="instagram-widget-image">
                                            <div id="instagram-widget" class="carousel slide">
                                                <!-- Indicators -->
                                                <ol class="carousel-indicators dotstyle">
                                                    <li data-target="#instagram-widget" data-slide-to="0" class="active"><a href="#">Image 1</a>
                                                    </li>
                                                    <li data-target="#instagram-widget" data-slide-to="1"><a href="#">Image 2</a>
                                                    </li>
                                                    <li data-target="#instagram-widget" data-slide-to="2"><a href="#">Image 3</a>
                                                    </li>
                                                </ol>
                                                <div class="carousel-inner">
                                                    <figure class="item active">
                                                        <img class="img-responsive" src="assets/img/instagram/instagram.jpg" alt="image">
                                                    </figure>
                                                    <figure class="item">
                                                        <img class="img-responsive" src="assets/img/instagram/instagram2.jpg" alt="image">
                                                    </figure>
                                                    <figure class="item">
                                                        <img class="img-responsive" src="assets/img/instagram/instagram3.jpg" alt="image">
                                                    </figure>
                                                </div>
                                            </div>
                                            <!-- End Carousel -->
                                        </div>
                                        <div class="instagram-widget-footer">
                                            <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                                                <!-- col-lg-6 start here -->
                                                <p>
                                                    <a href="#">
                                                        <i class="ec-chat mr5"></i> 
                                                        <strong class="instagram-widget-number">17</strong>
                                                    </a>
                                                </p>
                                            </div>
                                            <!-- col-lg-6 end here -->
                                            <div class="col-lg-6 col-md-6 col-xs-6 text-center">
                                                <!-- col-lg-6 start here -->
                                                <p>
                                                    <a href="#">
                                                        <i class="ec-heart mr5"></i> 
                                                        <strong class="instagram-widget-number">27</strong> 
                                                    </a>
                                                </p>
                                            </div>
                                            <!-- col-lg-6 end here -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-primary panelMove">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="im-twitter"></i> Twitter widget</h4>
                                    <div class="pull-right mt10">
                                        <a href="#" class="color-grayspr">@SuggeElson</a>
                                    </div>
                                </div>
                                <div class="panel-body p0">
                                    <div class="twitter-widget">
                                        <div class="twitter-widget-header gray-bg">
                                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="twitter-widget-text">Followers</p>
                                                    <strong class="twitter-widget-number">17523</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                            <div class="col-lg-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="twitter-widget-text">Following</p>
                                                    <strong class="twitter-widget-number">562</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                            <div class="col-lg-4 col-lg-4 col-md-4 col-sm-4 text-center">
                                                <!-- col-lg-4 start here -->
                                                <a href="#">
                                                    <p class="twitter-widget-text">Tweets</p>
                                                    <strong class="twitter-widget-number">2450</strong> 
                                                </a>
                                            </div>
                                            <!-- col-lg-4 end here -->
                                        </div>
                                        <div class="twitter-widget-tweets">
                                            <ul>
                                                <li>
                                                    <img class="twitter-widget-avatar" src="https://pbs.twimg.com/profile_images/458936783342796800/zvTJlZfz_bigger.jpeg" alt="">
                                                    <p class="tweet-text">
                                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, dolorum, consequatur, cum itaque beatae voluptatem commodi maiores <a href="#">...</a>
                                                    </p>
                                                    <span class="twitter-widget-date">12:55 PM - 24 Apr 2014</span>
                                                </li>
                                                <li>
                                                    <img class="twitter-widget-avatar" src="https://pbs.twimg.com/profile_images/458761113971085312/3kO6oOwu_bigger.png" alt="">
                                                    <p class="tweet-text">
                                                        Provident, deserunt reprehenderit fugit quo laboriosam rem soluta amet dolorum id aliquid ipsam voluptates at tenetur debitis veniam libero <a href="#">...</a>
                                                    </p>
                                                    <span class="twitter-widget-date">12:55 PM - 24 Apr 2014</span>
                                                </li>
                                                <li>
                                                    <img class="twitter-widget-avatar" src="https://pbs.twimg.com/profile_images/2556368541/alng5gtlmjhrdlr3qxqv_bigger.jpeg" alt="">
                                                    <p class="tweet-text">
                                                        Soluta, cumque, qui quas ipsa accusantium sequi nostrum consequuntur dolorum nisi omnis debitis vero nobis <a href="#">...</a>
                                                    </p>
                                                    <span class="twitter-widget-date">12:55 PM - 24 Apr 2014</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-teal toggle panelMove panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="im-bars"></i> Page views</h4>
                                </div>
                                <div class="panel-body">
                                    <div id="stats-pageviews" style="width: 100%; height:250px;"></div>
                                </div>
                                <div class="panel-footer teal-bg">
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="tile teal m0">
                                            <div class="tile-content text-center pl0 pr0">
                                                <div id="countToday" class="number">75</div>
                                                <h3>Today</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="tile teal m0">
                                            <div class="tile-content text-center pl0 pr0">
                                                <div id="countYesterday" class="number">69</div>
                                                <h3>Yesterday</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="tile teal m0">
                                            <div class="tile-content text-center pl0 pr0">
                                                <div id="countWeek" class="number">380</div>
                                                <h3>This Week</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <div class="tile teal m0">
                                            <div class="tile-content text-center pl0 pr0">
                                                <div id="countTotal" class="number">1254</div>
                                                <h3>Total</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                            <div class="panel panel-primary plain toggle panelMove panelClose panelRefresh">
                                <!-- Start .panel -->
                                <div class="panel-heading">
                                    <h4 class="panel-title"><i class="im-bars"></i> Week Earnings</h4>
                                </div>
                                <div class="panel-body blue-bg">
                                    <div id="stats-earnings" style="width: 100%; height:250px;"></div>
                                </div>
                                <div class="panel-footer white-bg">
                                    <div id="stats-category-earnings" class="col-lg-6 col-md-12" style="height:150px;">
                                    </div>
                                    <div id="stats-earnings-bars" class="col-lg-6 col-md-12" style="height:150px;">
                                    </div>
                                </div>
                            </div>
                            <!-- End .panel -->
                        </div>
                        <!-- col-lg-4 end here -->
                    </div>
                    <!-- End .row -->
                    <!-- Page End here -->
                </div>
                <!-- End .outlet -->
            </div>
            <!-- End .content-wrapper -->
            <div class="clearfix"></div>
        </div>
        <!-- End #content -->
        
    </body>
</html>